body {
    font-family: 'Nunito', sans-serif !important;
}

/* classes */

.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
}

.container-cover {
    height: 100vh;
    width: 100%;
    background-color: #f1eff6;
    display: block;
}

.after-br {
    padding: 5px !important;
    display: inline-block;
}

.img-bg-sign{
    background-image: url("/assets/bg.png");
    background-size: cover;
    background-color: teal;
    width: 485px !important;
    padding: 20px;
}

.img-bg-todo{
    background-image: url("/assets/todo.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 !important;
    margin: 0 !important;
}

.sign-form {
    background: white;
    padding: 10px !important;
    width: 250px !important;
}



/* end classes */

#sign-page {

}

#signup-page {

}

#home-page {
    padding: 0 !important;
    height: auto;
    margin: auto;
    position:absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}

#top-nav {
    padding: 5px !important;
}

#top-nav-left {
    padding: 0 !important;
}

#top-nav-right {
    padding: 0 10px !important;
}

#top-nav.container{
    padding : 0 !important;
}

#todos {
    padding: 10px !important;
}

#side {
    padding: 10px !important;
}

/* #home-page.row {
    position: relative;
} */

#todos{
    background-color: teal;
    min-height: 400px;
}

nav {
    padding: 0 !important;
    min-height: auto !important;
}

nav ul li a{
    padding: 5px 10px !important;
}

hr {
    margin : 2px !important;
}

h4, span.desc {
    margin : 0px 10px !important;
}

div.p-2 div {
    padding: 0 !important;
}

.todo-each {
    margin : 5px 0 !important;
}